// --------------------------------------------------
// Discourse header
// --------------------------------------------------

.d-header {
  .icons {
    .header-dropdown-toggle {
      .icon {
        color: #ff5495;
      }
    }
    .header-dropdown-toggle:first-of-type {
      .icon {
        color: #999999;
      }
    }
  }
}

// new footer

#contact-footer {
  text-align: center;
  color: #919191;
  font-size: 0.929em;
  line-height: 1.1em;
  margin-bottom: 10px;
}