// --------------------------------------------------
// Discourse header
// --------------------------------------------------

.d-header {

  height: 96px;
  box-shadow: none;

  .contents {
    margin: 24px 0;
  }

  .login-button,.sign-up-button {
    background: #ff5495;
  }

    #site-logo {
      max-height: 42px;
    }




  .icons {
    .header-dropdown-toggle {
      .icon {
        color: #ff5495;
      }
    }
    .header-dropdown-toggle:first-of-type {
      .icon {
        color: #999999;
      }
    }
  }
}

// new stuff
#main-outlet {
  padding-top: 120px;
}
