// --------------------------------------------------
// Discourse header
// --------------------------------------------------

.d-header {
  .login-button,.sign-up-button {
    background: #ff5495;
  }


  .icons {
    .header-dropdown-toggle {
      .icon {
        color: #ff5495;
      }
    }
    .header-dropdown-toggle:first-of-type {
      .icon {
        color: dark-light-choose(scale-color($header_primary, $lightness: 50%), $header_primary);
      }
    }
  }
}