@import url("https://use.typekit.net/szz7dlc.css");

body {
  font-family: "mr-eaves-xl-modern",sans-serif;
}
// --------------------------------------------------
// Discourse header
// --------------------------------------------------

.d-header {
  height: 75px;
  box-shadow: none;

  .title {
    display: none;
  }

  .contents {
    margin: 18px 0;
  }

  .login-button,.sign-up-button {
    background: #ff5495;
  }

    #site-logo {
    max-height: 42px;
  }

  .icons {
    .header-dropdown-toggle {
      .icon {
        color: #ff5495;
      }
    }
    .header-dropdown-toggle:first-of-type {
      .icon {
        color: #999999;
      }
    }
  }
}

#main-outlet {
  padding-top: 94px;
  background-color: #fff;
}

// common/foundation/base.scss

// --------------------------------------------------
// Base styles for HTML elements
// --------------------------------------------------

html {
  background-color: #f1faff;
}

// common/base/discourse.scss

.wrap {
  padding: 0 16px;
}


// common/components/navs.scss

// Pill nav
// --------------------------------------------------

.nav-pills {
  > li {
    > a {
      &:hover {
        color: #222;
        background-color: #FFB0CE;
      }
    }
    &.active > a, > a.active {
      color: #fff;
      background-color: #ff5495;
    }
  }
}


// desktop/category-list.scss

.category-list {
  td, th {
    padding: 12px 16px;
  }

  .topics {
    .value {
      color: #222;
    }

    .unit {
      color: #222;
    }
  }

  tbody {
    .category {
      border-left: 5px solid;
    }
  }
}

.categories-and-latest {
  margin: 0px -16px 0 -14px;

  .topic-list {
    .num.posts a {
      font-weight: normal;
      color: #222;
    }
  }
}

// desktop/latest-topic-list.scss
.latest-topic-list-item .topic-stats .badge-posts {
  color: #222;
}

.latest-topic-list {
  .no-topics, .more-topics {
    padding-right: 14px;
  }

  .title {
    font-family: "mr-eaves-xl-modern",sans-serif;
    font-weight: bold;
    padding: 0 0 10px 0;
    font-size: 18px;
    color: #282c32;
  }
  .title:visited {
    color: #383c42;
  }
}

// desktop/topic-list.scss

.category-logo {
  max-height: 100px;
  float: left;
  margin: 10px, 25px, 15px, 0;
}

.category-list .category-name {
  font-family: "mr-eaves-xl-modern",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 0 0 10px 0;
  font-size: 20px;
  color: #282c32;
}

.category-list .category-description {
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  font-family: "mr-eaves-xl-modern",sans-serif;
}
// lock icon on private stuff
.category-list tbody .category h3 .fa {
  float: left;
}


// Base list
// --------------------------------------------------

.topic-list {
  .fa-thumb-tack { color: #3b84f8; }
}


// HACK for category badges

// common/components/badges.scss

.badge-wrapper.bullet {
  height: 22px;
  margin-top: 5px;

  span.badge-category {
    color: #ffffff !important;
    z-index: 2;
    padding-left: 9px;
    padding-right: 9px;
    position: relative;
    line-height: 22px;
    height: 22px;
  }

  .badge-category-parent-bg, .badge-category-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    margin:0;
    z-index: 1;
  }
}

.list-controls .category-dropdown-menu .badge-wrapper.bullet {
  padding: 0;
  margin: 0;
}


// common/base/topic.scss

#suggested-topics h3 .badge-wrapper.bullet span.badge-category {
  line-height: 1.0;
}

// end of HACK for categary badges


// New elements added by theme

#after-header {
  height: 360px;
  background-color: #f1faff;
  margin-left: -16px;
  margin-right: -16px;
  position: relative;
  margin-bottom: 16px;
  margin-top: -16px;
  font-family: "mr-eaves-xl-modern",sans-serif;

  @media (max-width: 780px) {
    height: auto;
  }

  #hero-section {
    padding-top: 47px;
    padding-bottom: 47px;
    text-align: center;
    max-width: 575px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;

    @media (max-width: 1040px) {
      max-width: 52%;
    }

    @media (max-width: 780px) {
      max-width: none;
    }


  }

  .pink-logo {
    width: 78px;
    height: 78px;
    background-image: asset-url($pinkLogo);
    display: inline-block;
    background-size:100%;
  }

  h1 {
    margin-top: 18px;
    font-size: 36px;
    line-height: 30px;
    color: #282c32;
  }

  h2 {
    margin-top: 19px;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    color: #282c32;
  }

  h3 {
    margin-top: 23px;
    font-size: 18px;
    font-weight: 500;
    color: #919191;
    line-height: 23px;
  }

  #left-crowd {
    position: absolute;
    width: 233px;
    height: 265px;
    left: -21px;
    top: 50px;
    background-image: asset-url($leftCrowd);
    background-size: 100%;

    @media (max-width: 780px) {
      display: none;
    }
  }

  #right-crowd {
    position: absolute;
    width: 235px;
    height: 266px;
    right: -4px;
    top: 44px;
    background-image: asset-url($rightCrowd);
    background-size: 100%;

    @media (max-width: 780px) {
      display: none;
    }
  }
}

//-------------------------------------------
// Top Nav above the discourse header
//-------------------------------------------

.topnav {
  width: 100%;
  height: 75px;
  background-color: #3b84f8;

  .brand-logo { 
    height: 50px;
    width: 120px;
    display: block;
    background-image: asset-url($pit-logo-white);
    margin: 15px 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .topnav-panel {
    float: right;
    
    a.topnav-donate {
      background: #ff5495;
      border-radius: 24px;
      padding: 10px 20px;
      color: #fff;
      position: relative;
      float: left;
      margin-top: 15px;
      box-shadow: -2px 2px 15px rgba(0,0,0,0.4);
    }

    a.topnav-link, a.topnav-link:visited  {
      color: white;
      padding-top: 26px;
      padding-right: 25px;
      font-size: 16px;
      display: block;
      float: left;
    }

    div {
      display: block;
    }
  }
}

// new footer

#contact-footer {
  margin-top: 31px;
  color: #919191;
  font-size: 16px;
  line-height: 19px;
  #footer-right {
    float: right;
  }
}

// Hide the site sometimes...
.snooze {
  display: none;
  width: 100%;
  background-color: #f0fafe;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  text-align: center;

  .snooze-card {
    position: relative;
    width: 620px;
    height: 1000px;
    background-image: asset_url($pit-snooze-bg);
    top: 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto 0 auto;
    left: -20px;
  }

  .snooze-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 240px 0 0 40px;
  }

  .snooze-card-text {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    color: #999;
    padding: 10px 0 0 40px;
  }
}
